@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Raleway:100,200,300,400,500,600,700|Bevan:100,200,300,400,500,600,700');

body {
    font-family: Raleway, sans-serif;
}

.title { 
    font-family: Poppins, sans-serif
}



/*-------------------------------------Colours*/

.title-colour {
    color: #77BFA5;
}

.text-white {
    color: #fff;
}

.section-bg-1 {
    background-color: #252525;
}

.section-bg-2 {
    background-color: #c5c5c5;
}

.section-bg-3 {
    background-color: #77BFA5;
}

/*-------------------------------------Navbar*/

.navbar-huntsman {
    background-color: #252525
}

/*-------------------------------------Header*/

.huntsmanlogo {
    font-family: Bevan, sans-serif;
    font-size: 60px;
    font-weight: 500;
    display: inline-block;
    padding: 5px 10px 0px 10px;
    margin-top: 10px;
    letter-spacing: 5px;
}


/*-------------------------------------Media queries*/
@media screen and (max-width: 601px) {
    .huntsmanlogo {
        font-size: 40px;
    }
}

/*-------------------------------------Containers*/

.header-container {
    height: 100vh;

    background: url(images/huntsman_pub_1.jpeg), url(images/huntsman_pub_2.jpeg), url(images/huntsman_pub_3.jpeg), url(images/huntsman_pub_4.jpeg), 
    url(images/huntsman_pub_5.jpeg), url(images/huntsman_pub_6.jpeg), url(images/huntsman_pub_7.jpeg), url(images/huntsman_pub_8.jpeg)
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.modal-container{
    padding-top: 15px;
}

.hours-container {
    margin: 0px;
    padding: 69px 69px 50px 69px;
}

.facilities-container {
    margin: 0px;
    padding: 69px 69px 50px 69px;
}

.events-container {
    margin: 0;
    padding: 69px 69px 50px 69px;
}



.food-container {
    margin: 0;
    padding: 69px 69px 50px 69px;
}

.drink-container {
    margin:0;
    padding: 69px 69px 50px 69px;
    color: #fff;
}

.image-container {
    display: flex;
}

.ale-container {
    padding-top: 20px;
}

.footer-container{
    margin:0;
    padding: 30px 49px 30px 49px;
    text-align: center;
    
}


/*-------------------------------------Introduction*/

.introduction {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    
    margin-top: 2.5%;
    text-align: center;
}

.introduction h2 {
    padding-top: 25px;
    font-weight: bold;
    word-spacing: 5px;
    font-size: 36px;
}

.introduction p {
    padding-top: 50px;
    font-size: larger;
}

.introduction h5 {
    padding-top: 40px;
}

.btn-modal {
    background-color: #77BFA5;
    color: #252525;
    border-color: #252525;
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.btn-modal:hover {
    background-color: #3D856B;
    border-color: #252525;
}

.grow { transition: all .2s ease-in-out; }

.grow:hover { transform: scale(1.1); }

.title-food {
    padding-top: 50px;
}

/*-------------------------------------Facilities*/

.facilities-title {
    padding: 0px 0 20px 0px;
}

.facilities-row {
    height: 20vh;
    text-align: center;
    padding-bottom: 10px;
}

.facilities-box {
    font-size: 15px;
    border-radius: 50%;
}

.facilities-icon {
    font-size: 50px;
    padding-top: 15px;
}

.billiards-icon {
    padding-top: 8px;
}

.dart-icon {
    padding-top: 15px;
}

/*-------------------------------------Events*/

.events-table {
    color: #fff;
}

/*-------------------------------------Food and drink*/

.booking {
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    border: 2px solid #252525;
    border-radius: 5%;
}

.ale-table {
    color: #fff;
    display: table;
    vertical-align: middle;
}

.ale-table-cell {
    display: table-cell;
    vertical-align: middle !important;
}

.ale-icon {
    font-size: 45px;
    font-weight: 100;
}

.ale-image {
    margin: auto;
}

/*-------------------------------------Footer*/

.footer-icon {
    font-size: 30px;
}

.facebook {
    display: inline-block
}

.tripadvisor {
    display: inline-block;
    padding-left: 15px;
}